body {
  background-color: #FEF5E7;
  color: #34495E;
  font-family: Buda, Times, sans-sarif;
  margin: 10% 20%
}

.img{
  width:350px
 
}

.name{
  text-align:center;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
}

.campiello-close{
  font-style: italic;
}

.edu-header{
  text-align: center;
  text-transform: uppercase;
 
}

.about-me{
  text-align: center;
  text-transform: uppercase;
}

.links{
  font-weight: bold;
}
